header{
    position: sticky;
    top: 0;
    z-index: 10;
}


.image-card{
    height: 15rem;
    object-fit: cover;
}
.text-box {
  padding: 20px;           /* Espacement à l'intérieur du cadre */
  border: 2px solid #000;  /* Bordure noire autour du cadre */
  background-color: rgba(255, 255, 255, 0.8); /* Fond légèrement transparent */
  display: inline-block;    /* Pour ajuster la taille en fonction du contenu */
  border-radius: 8px;      /* Coins arrondis pour un style plus doux */
  margin-bottom: 20px;      /* Espace entre le cadre et le bouton */
}

.text-box h4, .text-box p {
  margin: 0;  /* Enlever la marge par défaut */
}
